@hourly docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v /opt/rucio-analysis:/opt/rucio-analysis --name rucio-analysis-transfers rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/job_transfers.sh >> /var/log/cron/transfers_`date +\%Y\%m\%d`.log 2>&1
10 * * * * docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v /opt/rucio-analysis:/opt/rucio-analysis --name rucio-analysis-replication-bulk rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/job_replication_bulk.sh 
0 9 * * * docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v /opt/rucio-analysis:/opt/rucio-analysis --name rucio-analysis-replication-qos rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/job_replication_qos.sh >> /var/log/cron/replication_qos_`date +\%Y\%m\%d`.log 2>&1
*/5 * * * * docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v /opt/rucio-analysis:/opt/rucio-analysis --name rucio-analysis-sync-database rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/job_sync_database.sh >> /var/log/cron/sync_database_`date +\%Y\%m\%d`.log 2>&1

