@hourly docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v $RUCIO_ANALYSIS_ROOT:/opt/rucio-analysis --name rucio-analysis-tests rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/tests.sh
10 * * * * docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v $RUCIO_ANALYSIS_ROOT:/opt/rucio-analysis --name rucio-analysis-tests rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/tests_ska.sh