@hourly docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v $RUCIO_ANALYSIS_ROOT:/opt/rucio-analysis --name rucio-analysis-tests rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/job_replication.sh
10 * * * * docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v $RUCIO_ANALYSIS_ROOT:/opt/rucio-analysis --name rucio-analysis-tests-ska rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/job_replication_bulk.sh
0 9 * * * docker run --rm -e RUCIO_CFG_ACCOUNT=robbarnsley -v /home/rbarnsley/.globus/client.crt:/opt/rucio/etc/client.crt -v /home/rbarnsley/.globus/client.key:/opt/rucio/etc/client.key -v $RUCIO_ANALYSIS_ROOT:/opt/rucio-analysis --name rucio-analysis-tests-qos rucio-analysis:latest /opt/rucio-analysis/etc/cron/jobs/job_replication_qos.sh