*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

Pipfile.lock

htmlcov
.coverage
coverage.xml
.pytest_cache
*,cover

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode
workspace.code-workspace

# keys
*.pem