sync-database-test-upload:
    description: "Sync external database with rule information in datalake (test-upload)"
    module_name: "tasks.sync.database"
    class_name: "SyncESDatabase"
    enabled: true
    args:
    kwargs:
      fts_endpoint: https://fts3-pilot.cern.ch:8446
      task_name_to_update: test-upload
      n_workers: 6
      update_all: false
      database:
        uri: https://srcdev.skatelescope.org/rucio/monit/elastic/
        index: "custom"
        search_range_lte: now
        search_range_gte: now-1h
        max_rows: 10000

sync-database-test-replication:
    description: "Sync external database with rule information in datalake (test-upload-replication)"
    module_name: "tasks.sync.database"
    class_name: "SyncESDatabase"
    enabled: true
    args:
    kwargs:
      fts_endpoint: https://fts3-pilot.cern.ch:8446
      task_name_to_update: test-upload-replication
      n_workers: 6
      update_all: false
      database:
        uri: https://srcdev.skatelescope.org/rucio/monit/elastic/
        index: "custom"
        search_range_lte: now
        search_range_gte: now-1h
        max_rows: 10000
