reports-dev:
  description: "Send daily report"
  module_name: "tasks.reports.daily"
  class_name: "ReportDaily"
  enabled: true
  args:
  kwargs:
    database:
      type: es
      uri: https://srcdev.skatelescope.org/rucio-dev/monit/elastic/
      index: "custom"
      search_range_lte: now
      search_range_gte: now-24h
      max_rows: 10000
    percentage_stuck_warning_threshold: 1
    report_title: "Daily Report (dev)"
    rses:
      - MANCHESTER
      - LANCASTER
      - IDIA
      - DESY_DCACHE
      - AARNET_PER
    using_task_name: "test-upload-replication-dev"
    webhooks:
      - type: slack
        url: 
